@use "../../assets/global.scss" as *;

html {
  --registerFontSize: 2rem;
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
  background-color: #1a0b2a;
}

.pointerNoneEvent {
  pointer-events: none;
  position: fixed;
}

.wrapper {
  width: 100%;
  height: 200%;

  .landing {
    width: 100%;
    height: 50%;
    z-index: 0;
    overflow-x: hidden;
    .landingImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: fixed;
    }

    .cloudContainer {
      position: absolute;
      left: 0;
      bottom: 22svw;
      will-change: auto;

      .cloud {
        width: 40svw;
      }
    }
    .sunContainer {
      position: absolute;
      right: 28svw;
      bottom: 25svw;
      will-change: auto;

      .sun {
        width: 21svw;
      }
    }
    .smallMountainsContainer {
      position: absolute;
      left: 0;
      bottom: -10svw;
      width: 100%;
      will-change: auto;

      .smallMountains {
        width: 100%;
      }
    }
    .bigMountainContainer {
      position: absolute;
      left: 0;
      bottom: 18svw;
      width: 100%;
      will-change: auto;

      .bigMountain {
        width: 100%;
      }
    }
    .treeContainer {
      position: absolute;
      z-index: 100;
      right: 0;
      top: -8svw;
      width: 100%;
      max-width: 100vw;
      overflow: hidden;
      will-change: transform;

      .tree {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        will-change: transform;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform 0.1s ease-out;
        transform-origin: "center right";
        will-change: transform;
        margin-top: clamp(0vh, 100vh - 56.7vw, 100vh);
        object-fit: contain;
        object-position: top;
      }
    }

    @media (aspect-ratio < 18/10) {
      .treeContainer {
        width: 100%;
      }
    }

    @media (aspect-ratio > 190/100) {
      .treeContainer {
        top: -9svw;
      }
    }

    .logoContainer {
      position: fixed;
      left: 3svw;
      bottom: 8svw;
      width: 25svw;
      will-change: auto;

      .logo {
        width: 100%;
      }
    }

    .dateCountdown {
      position: fixed;
      z-index: 0;
      left: 3svw;
      bottom: 2.5svw;
      width: 15svw;
      display: flex;
      align-items: center;
      gap: 0.5svw;
      will-change: auto;
      font-family: $primaryFont;
      color: white;
      font-size: 2rem;
      text-align: center;
      .timeLeft {
        font-size: 1.5rem;
        .days,
        .hours,
        .minutes,
        .seconds {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }

    .socialLinksContainer {
      position: absolute;
      right: 2svw;
      top: 0;
      width: 3.25svw;
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: center;
      z-index: 100;
      .linkBackground {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        img {
          width: 100%;
        }
      }
      .socialLinks {
        grid-row: 1/2;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2svw;
        width: 100%;
        height: 100%;
        padding: 0.8svw;

        .socialLink {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          img {
            width: 100%;
          }
        }
      }
    }

    .registerBtnContainer {
      text-decoration: none;
      position: fixed;
      right: 3svw;
      bottom: 2.5svw;
      z-index: 101;
      width: 22svw;
      will-change: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: center;
      cursor: pointer;
      mask-size: cover;
      mask-position: center;
      mask-repeat: no-repeat;

      .registerBtn {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
      }
      .registerBtnText {
        font-family: $primaryFont;
        font-size: var(--registerFontSize);
        color: white;
        text-align: center;
        grid-row: 1/2;
        grid-column: 1/2;
      }
    }
  }
}
