@use "/src/assets/global.scss" as *;

.instrback {
  background: linear-gradient(180.39deg, #ff88a3 0%, #ffae93 52.75%),
    center / contain no-repeat url("/svgs/registration/silhouttes.svg");
  background-blend-mode: overlay;
  background-position: bottom;
  height: 100svh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  .birds {
    margin-top: 2vw;
    width: 45vw;
    height: 4vw;
    background: center / contain no-repeat url("/svgs/registration/birds.svg");
    background-blend-mode: overlay;

    .header {
      margin-top: 1vw;
      text-align: center;
      font-size: 4vw;
    }
  }

  .heading {
    margin: 3vw 0 1vw 0;
    font: 400 2.6vw "Ibarra Real Nova SemiBold";
  }

  .instr {
    width: 43vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    list-style: none;
    
    li {
      position: relative;
      color: #540000;
      text-align: left;
      font: 400 1.6vw "DM Serif Text";
      line-height: 1.1;
      letter-spacing: 0.7px;

      &::before {
        content: "";
        position: absolute;
        top: 6%;
        left: -2.5vw;
        width: 1.5vw;
        height: 1.45vw;
        background: center / contain no-repeat
          url("/public/svgs/registration/list-tag.svg");
      }
    }
  }

  .googleButton{
    width: 20vw;
    height: 4vw;
    font: 400 1.6vw "DM Serif Text";
    margin-top: 2vw;
    cursor: pointer;
  }
}
