.backButton {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 5rem;
    width: 5rem;
    margin: 2rem;
    // background-color: red;
    background-image: url('/svgs/registration/back.svg');
    background-size: cover;
    filter: drop-shadow(1px 0px 5px rgb(49, 49, 49));
    transition: filter 0.3s;

    &:hover {filter: drop-shadow(1px 0px 9px black)}
} 