@use "/src/assets/global.scss" as *;

.content {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 43vw;

  .heading {
    margin: 3vw 0 2vw 0;
    font: 400 2.6vw "Ibarra Real Nova SemiBold";
    color: #ffffff;
  }

  .instr {
    width: 43vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3vw;
    list-style: none;

    li {
      position: relative;
      color: #ffffff;
      text-align: left;
      font: 400 1.3vw "DM Serif Text";
      line-height: 1.1;
      letter-spacing: 0.7px;

      &::before {
        content: "";
        position: absolute;
        top: 6%;
        left: -2.5vw;
        width: 1.5vw;
        height: 1.45vw;
        background: center / contain no-repeat
          url("/public/svgs/registration/list-tag.svg");
      }
    }
  }

  .googleButton {
    width: 20vw;
    height: 4vw;
    font: 400 1.6vw "DM Serif Text";
    margin-top: 2vw;
    cursor: pointer;
  }
}
@media (max-width:1200px) or (max-aspect-ratio:1.45){
  .content{
   margin-top: 3vh;
    width: 70vw!important;
    .heading{
        font-size: 1.4*3vw;
        
    margin: 1.4*1vw 0 1.4*3vw 0;
    }
    .instr{
      width: 100%;
    gap:2vh;
      
      li{
        padding-left: 2vw;
        line-height: 2.5vh;
        font-size: clamp(1rem,2vw + 0.1rem,1.3rem)!important;
       &::before{
        content: "";
        left:  clamp(-1rem,-2vw - 0.5rem,-1.9rem);
        width:  clamp(1rem,2vw + 0.5rem,1.9rem);
        height:  clamp(1rem,+2vw + 0.5rem,1.9rem);
        }
        
      }
  }
  .googleButton{
       margin-top: 4vh;
    height: clamp(2rem,2vh + 1.5rem,6rem);
    width: clamp(200px,30vw,600px);

          font-size: clamp(1rem,2vw + 0.1rem,1.3rem)!important;
      
  }
}}