@font-face {
  font-family: "Japan Ramen";
  src: url("/fonts/japanRamen.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ibarra Real Nova SemiBold";
  src: url("/public/fonts/IbarraRealNova-SemiBold.ttf");
}
@font-face {
  font-family: "DM Serif Text";
  src: url("/public/fonts/DMSerifText-Regular.ttf");
}

$primaryFont: "Japan Ramen", sans-serif;

$gradient: linear-gradient(#ff6084 0%, #ff9c7b 100%);
