$inputwidth: 30vw;
@use "/src/assets/global.scss" as *;

.confirmButton {
  position: absolute;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2vw 0;
  background: center / cover no-repeat
    url("/images/registration/button-banner.png");
  padding: 1vw;
  color: #fff;
  font: 100 1.5vw "Abhaya Libre Extrabold";
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22vw;

  .confirmIcon {
    width: 7vw;
    height: 0.5vw;
    &:last-child {
      rotate: 180deg;
    }
  }
}

.registerContainer {
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 43vw;
}

.registrationForm {
  z-index: 3;
  display: flex;
  position: absolute;
  bottom: 24svh;
  left: 0;
  // transform: translateY(-50vw);
  color: white;
  padding: 2.5rem;
  width: 100%;
  // height: 40vw;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .react-select__input-container {
    input {
      box-shadow: none !important;
    }
  }

  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .formColumns {
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 21vw;
  }
.left{
  
.together {
  display: flex;
  flex-direction: row;
  width: 31vw;
  gap: 10px;
  
.fields {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.field1,
.field2 {
  display: flex;
  flex-direction: column;
}
  .field1 {
    input,
    select {
      width: 10vw !important;
    }
    .sameline {
      width: 10vw !important;
    }
     .clouds {
    width: 10vw !important;
  }
  }
  .field2 {
    input,
    select {
      width: 20vw !important;
    }
    .sameline {
      width: 20vw !important;
    }
      .clouds {
    width: 20vw !important;
  }
  }
}
}
  .left,
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    
  .name {
    margin-left: 3vw;
  }
  .email,.together {
    margin-left: 1vw;
  }
  .mobile,.name{
    margin-left: 4.5vw ;
  }
  .college,.city{
    margin-left: 0.5vw;
  }
  .year,.states{
margin-left: 4.5vw;
  }
    .radioInput {
      appearance: none;
      width: 18px !important;
      height: 18px !important;
      border: 2px solid white;
      border-radius: 50%;
      position: relative;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      transition: border-color 0.3s ease;
      &:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;

        height: 8px;
        background: linear-gradient(
          0deg,
          #f57572 0%,
          #f8a26c 42.84%,
          #fcdf81 102.69%
        );

        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
    label {
      letter-spacing: 1px;
    }

    input,
    select {
      text-align: center;
      width: 30vw;
      font-size: 0.8rem;
      height: 2.1rem;
      background: transparent;
      border: 0;
      color: white;
    }

    p {
      height: 0.5vw;
      font-size: 0.75rem;
      color: #ffb3b3;
      margin: 0.2rem 0 0 0;
    }
  }
}

select {
  background-color: transparent;
  color: white;
  option {
    background-color: #2e0505;
    color: white;
    width: 30vw;
    font-size: 1rem;
    text-align: center;
  }
}
.field1{
  option{
width: 1vw;
font-size: 1rem;
text-align: left;
  }
}
.birds2 {
  margin-top: 2vw;
  width: 45vw;
  height: 4vw;
  background: center / contain no-repeat url("/svgs/registration/birds2.svg");
  background-blend-mode: overlay;

  .header {
    margin-top: 1vw;
    text-align: center;
    font-size: 4vw;
  }
}


.sameline {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  width: $inputwidth; 
  
 label {
  font-size: 0.8rem;
  text-shadow: 0 0 6px rgba(229, 195, 132, 0.54);
}
}

.gendob {
  height: 1vw;
}
.clouds {
  box-shadow: 0px 0px 10.2px 0px #e5c3845e;
  border: 1px solid rgba(255, 255, 255, 0.6);

  height: 2.3rem;
  position: relative;
  width: 30vw;
  overflow: visible;
  align-items: center;
  padding: 0;
  margin: 0;

  input {
    width: 100%;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    z-index: 3;
    box-sizing: border-box;
  }

  img {
    position: absolute;
    overflow-x: visible;
    overflow-y: hidden;

    bottom: 0;
    height: 2.4rem;
    object-fit: fit;
    pointer-events: none;
    z-index: 3;
  }

  img:first-of-type {
    left: 0;
  }

  img:last-of-type {
    right: 0;
  }
}
.sameline {
  img {
    width: 7vw;
  }
}


.radioGroup {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
  width: 100%;
  height: 2.2rem;
  background: transparent;
  border: 1px solid #ededed;
  color: white;
  border-radius: 0;
  box-shadow: 0px 0px 10.2px 0px #e5c3845e;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  padding: 0.5rem 1rem;
  position: relative;
  
.radioLabel {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.2rem;
  color: white;
  
  cursor: pointer;
  font-weight: 500;
}

}
input::placeholder {
  color: #cfcfcf;
  font-family: $regFont;
}

.react-select__control {
  box-sizing: border-box;
  text-align: center;
  width: 30vw;
  height: 2.1rem;
  background: #00000061;
  border: 1px solid #ededed;
  color: white;
  padding: 0.5rem;
  box-shadow: 0px 0px 10.2px 0px #e5c3845e;
  cursor: pointer;

  width: 30vw;
}

.react-select__single-value {
  color: white;

  width: 30vw;
  text-align: center;
}

.react-select__input {
  color: white;
  text-align: center;
}
.react-select__control--is-focused {
  box-shadow: 0px 0px 10.2px 0px #e5c3845e;

  width: 30vw;
  border-color: #ededed;
}
.react-select__menu {
  border-radius: 10px;
  box-shadow: 0px 0px 10px #e5c3845e;
  margin-top: 0;
  width: 30vw;
  overflow: hidden;
  z-index: 10;
}
.react-select__value-container {
  box-sizing: border-box;
  text-align: center;

  width: 3vw;
  height: 2.1rem;
  background: #00000061;
  border: 1px solid #ededed;
  color: white;
  padding: 0;
  box-shadow: 0px 0px 10.2px 0px #e5c3845e;
  cursor: pointer;
}
